<div class="alert alert-block alert-info alert">

# <span style=" color:red">Anlaysis of Hotel Booking Demand Dataset



## Data

This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things.

All personally identifying information has been removed from the data.

Acknowledgements
The data is originally from the article Hotel Booking Demand Datasets, written by Nuno Antonio, Ana Almeida, and Luis Nunes for Data in Brief, Volume 22, February 2019.

The information about the data and the most questions in this notebook were taken from Jose Portilla's Udemy Course. Only several questions were added.


----------------------------

##### NOTE: Names, Emails, Phone Numbers, and Credit Card numbers in the data are synthetic and not real information from people. The hotel data is real from the publication listed above.

## Information about the dataset

<table><thead><tr class="rowsep-1"><th scope="col"><strong>Variable</strong></th><th scope="col"><strong>Type</strong></th><th scope="col"><strong>Description</strong></th><th scope="col"><strong>Source/Engineering</strong></th></tr></thead><tbody><tr><th scope="row"><em>ADR</em></th><td>Numeric</td><td>Average Daily Rate as defined by <a name="bbib5" href="#bib5" class="workspace-trigger">[5]</a></td><td>BO, BL and TR / Calculated by dividing the sum of all lodging transactions by the total number of staying nights</td></tr><tr><th scope="row"><em>Adults</em></th><td>Integer</td><td>Number of adults</td><td>BO and BL</td></tr><tr><th scope="row"><em>Agent</em></th><td>Categorical</td><td>ID of the travel agency that made the booking<a name="btbl1fna" href="#tbl1fna" class="workspace-trigger"><sup>a</sup></a></td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateDayOfMonth</em></th><td>Integer</td><td>Day of the month of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateMonth</em></th><td>Categorical</td><td>Month of arrival date with 12 categories: “January” to “December”</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateWeekNumber</em></th><td>Integer</td><td>Week number of the arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>ArrivalDateYear</em></th><td>Integer</td><td>Year of arrival date</td><td>BO and BL</td></tr><tr><th scope="row"><em>AssignedRoomType</em></th><td>Categorical</td><td>Code for the type of room assigned to the booking. Sometimes the assigned room type differs from the reserved room type due to hotel operation reasons (e.g. overbooking) or by customer request. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>Babies</em></th><td>Integer</td><td>Number of babies</td><td>BO and BL</td></tr><tr><th scope="row"><em>BookingChanges</em></th><td>Integer</td><td>Number of changes/amendments made to the booking from the moment the booking was entered on the PMS until the moment of check-in or cancellation</td><td>BO and BL/Calculated by adding the number of unique iterations that change some of the booking attributes, namely: persons, arrival date, nights, reserved room type or meal</td></tr><tr><th scope="row"><em>Children</em></th><td>Integer</td><td>Number of children</td><td>BO and BL/Sum of both payable and non-payable children</td></tr><tr><th scope="row"><em>Company</em></th><td>Categorical</td><td>ID of the company/entity that made the booking or responsible for paying the booking. ID is presented instead of designation for anonymity reasons</td><td>BO and BL.</td></tr><tr><th scope="row"><em>Country</em></th><td>Categorical</td><td>Country of origin. Categories are represented in the ISO 3155–3:2013 format <a name="bbib6" href="#bib6" class="workspace-trigger">[6]</a></td><td>BO, BL and NT</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>CustomerType</em></th><td rowspan="5">Categorical</td><td>Type of booking, assuming one of four categories:</td><td rowspan="5">BO and BL</td></tr><tr><td>Contract - when the booking has an allotment or other type of contract associated to it;</td></tr><tr><td>Group – when the booking is associated to a group;</td></tr><tr><td>Transient – when the booking is not part of a group or contract, and is not associated to other transient booking;</td></tr><tr><td>Transient-party – when the booking is transient, but is associated to at least other transient booking</td></tr><tr><th scope="row"><em>DaysInWaitingList</em></th><td>Integer</td><td>Number of days the booking was in the waiting list before it was confirmed to the customer</td><td>BO/Calculated by subtracting the date the booking was confirmed to the customer from the date the booking entered on the PMS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="7"><em>DepositType</em></th><td rowspan="7">Categorical</td><td>Indication on if the customer made a deposit to guarantee the booking. This variable can assume three categories:</td><td rowspan="2">BO and TR/Value calculated based on the payments identified for the booking in the transaction (TR) table before the booking׳s arrival or cancellation date.</td></tr><tr><td rowspan="3">No Deposit – no deposit was made;</td></tr><tr><td>In case no payments were found the value is “No Deposit”.</td></tr><tr><td rowspan="2">If the payment was equal or exceeded the total cost of stay, the value is set as “Non Refund”.</td></tr><tr><td rowspan="2">Non Refund – a deposit was made in the value of the total stay cost;</td></tr><tr><td rowspan="2">Otherwise the value is set as “Refundable”</td></tr><tr><td>Refundable – a deposit was made with a value under the total cost of stay.</td></tr><tr><th scope="row"><em>DistributionChannel</em></th><td>Categorical</td><td>Booking distribution channel. The term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and DC</td></tr><tr><th scope="row"><em>IsCanceled</em></th><td>Categorical</td><td>Value indicating if the booking was canceled (1) or not (0)</td><td>BO</td></tr><tr><th scope="row"><em>IsRepeatedGuest</em></th><td>Categorical</td><td>Value indicating if the booking name was from a repeated guest (1) or not (0)</td><td>BO, BL and C/ Variable created by verifying if a profile was associated with the booking customer. If so, and if the customer profile creation date was prior to the creation date for the booking on the PMS database it was assumed the booking was from a repeated guest</td></tr><tr><th scope="row"><em>LeadTime</em></th><td>Integer</td><td>Number of days that elapsed between the entering date of the booking into the PMS and the arrival date</td><td>BO and BL/ Subtraction of the entering date from the arrival date</td></tr><tr><th scope="row"><em>MarketSegment</em></th><td>Categorical</td><td>Market segment designation. In categories, the term “TA” means “Travel Agents” and “TO” means “Tour Operators”</td><td>BO, BL and MS</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="5"><em>Meal</em></th><td rowspan="5">Categorical</td><td>Type of meal booked. Categories are presented in standard hospitality meal packages:</td><td rowspan="5">BO, BL and ML</td></tr><tr><td>Undefined/SC – no meal package;</td></tr><tr><td>BB – Bed &amp; Breakfast;</td></tr><tr><td>HB – Half board (breakfast and one other meal – usually dinner);</td></tr><tr><td>FB – Full board (breakfast, lunch and dinner)</td></tr><tr><th scope="row"><em>PreviousBookingsNotCanceled</em></th><td>Integer</td><td>Number of previous bookings not cancelled by the customer prior to the current booking</td><td>BO and BL / In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and not canceled.</td></tr><tr><th scope="row"><em>PreviousCancellations</em></th><td>Integer</td><td>Number of previous bookings that were cancelled by the customer prior to the current booking</td><td>BO and BL/ In case there was no customer profile associated with the booking, the value is set to 0. Otherwise, the value is the number of bookings with the same customer profile created before the current booking and canceled.</td></tr><tr><th scope="row"><em>RequiredCardParkingSpaces</em></th><td>Integer</td><td>Number of car parking spaces required by the customer</td><td>BO and BL</td></tr><tr><th scope="row"><br></th><td><br></td><td><br></td><td><br></td></tr><tr><th scope="row" rowspan="4"><em>ReservationStatus</em></th><td rowspan="4">Categorical</td><td>Reservation last status, assuming one of three categories:</td><td rowspan="4">BO</td></tr><tr><td>Canceled – booking was canceled by the customer;</td></tr><tr><td>Check-Out – customer has checked in but already departed;</td></tr><tr><td>No-Show – customer did not check-in and did inform the hotel of the reason why</td></tr><tr><th scope="row"><em>ReservationStatusDate</em></th><td>Date</td><td>Date at which the last status was set. This variable can be used in conjunction with the <em>ReservationStatus</em> to understand when was the booking canceled or when did the customer checked-out of the hotel</td><td>BO</td></tr><tr><th scope="row"><em>ReservedRoomType</em></th><td>Categorical</td><td>Code of room type reserved. Code is presented instead of designation for anonymity reasons</td><td>BO and BL</td></tr><tr><th scope="row"><em>StaysInWeekendNights</em></th><td>Integer</td><td>Number of weekend nights (Saturday or Sunday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/ Calculated by counting the number of weekend nights from the total number of nights</td></tr><tr><th scope="row"><em>StaysInWeekNights</em></th><td>Integer</td><td>Number of week nights (Monday to Friday) the guest stayed or booked to stay at the hotel</td><td>BO and BL/Calculated by counting the number of week nights from the total number of nights</td></tr><tr><th scope="row"><em>TotalOfSpecialRequests</em></th><td>Integer</td><td>Number of special requests made by the customer (e.g. twin bed or high floor)</td><td>BO and BL/Sum of all special requests</td></tr></tbody></table>

## Questions and Answers

#### Import NumPy and Pandas

In [1]:
import numpy as np
import pandas as pd

#### 1- Read csv file

In [2]:
hotels = pd.read_csv("hotel_booking_data.csv")

#### 2- Explore the data

In [3]:
# First , let's use haed to have alook at the data
hotels.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [4]:
# Detailed information about null values and data types
hotels.info()

# There are 119390 entries and 36 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 36 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
 32  name                            119390 non-null  object
 33  email                           119390 non-null  object
 34  phone-number                    119390 non-null  object
 35  credit_card                     119390 non-null  object
dtypes: float64(4), int64(16), object(16)
memory usage: 32.8+ MB

#### 3- Display the column names

In [5]:
# Let's see its cloumns
hotels.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card'],
      dtype='object')

#### 4- How many columns are there?

In [6]:
# The number of columns
len(hotels.columns)

36

#### 5- How many rows are there?

In [7]:
# We have already seen the number of rows and columns when we look at its "info". 
# Also, Index information shows us the number of rows: 119390
hotels.index

RangeIndex(start=0, stop=119390, step=1)

In [8]:
# The length of the data also gives us the number of row
len(hotels)

119390

#### 6- Is there any missing data? Which columns have missing data?

In [9]:
# First method is "isna()". Take its sum
hotels.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [10]:
# Another method is "isnull()"
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

There are 3 columns with null values: "country"  (488), "agent" (16340) and "company" (112593).

#### 7- Drop the "company" column that has lots of null values.

In [11]:
# Use isnull methot and then sum(). Without sum it gives boolean values.
hotels.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
name                                   0
email                                  0
phone-number                           0
credit_card                            0
dtype: int64

In [12]:
hotels =hotels.drop("company", axis=1)  # be careful about the axis

#### 8- What are the top 5 most common country codes in the dataset?

In [13]:
# Let's check the categories in the country column
hotels["country"].value_counts()

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
DJI        1
BWA        1
HND        1
VGB        1
NAM        1
Name: count, Length: 177, dtype: int64

In [14]:
# We can show only top 5
hotels["country"].value_counts()[:5]

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

In [15]:
# Another way is groupby method  tohether with count and sort_values
# Just take one of the columns to show it because it will show the same number for all columns. I take "hotel"
hotels.groupby("country").count().sort_values("hotel", ascending=False)["hotel"]

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
       ...
MLI        1
MMR        1
MRT        1
SMR        1
PYF        1
Name: hotel, Length: 177, dtype: int64

The most common 5 country codes are PRT, GBR, FRA, ESP and DEU.

#### 9 -What is the name of person who paid the highest average daily rate (ADR)? How much was their ADR?

In [16]:
# "adr" is one of the column names. Sort values to find the answer
# Then select adr and name to find the name of the person
hotels.sort_values("adr", ascending=False)[["adr","name"]]

            adr            name
48515   5400.00   Daniel Walter
111403   510.00     Jesus Mason
15083    508.00  Samuel Hammond
103912   451.50  Jessica Morris
13142    450.00       Amy Banks
...         ...             ...
110204     0.00    Ashley Lewis
13973      0.00     Yvonne Pena
90028      0.00    Kayla Reilly
0          0.00   Ernest Barnes
14969     -6.38    Chase Santos

[119390 rows x 2 columns]

In [17]:
# To see only this person use iloc[] for the first index
hotels.sort_values("adr", ascending=False)[["adr","name"]].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

In [18]:
# Another way is to find maximum index of adr, then reach the name throug this index.
hotels["adr"].idxmax()

48515

In [19]:
# Use index "48515" and grab all the information in this index
hotels.iloc[48515]  # See the name "Daniel Walter"

hotel                                             City Hotel
is_canceled                                                1
lead_time                                                 35
arrival_date_year                                       2016
arrival_date_month                                     March
arrival_date_week_number                                  13
arrival_date_day_of_month                                 25
stays_in_weekend_nights                                    0
stays_in_week_nights                                       1
adults                                                     2
children                                                 0.0
babies                                                     0
meal                                                      BB
country                                                  PRT
market_segment                                 Offline TA/TO
distribution_channel                                   TA/TO
is_repeated_guest                                          0
previous_cancellations                                     0
previous_bookings_not_canceled                             0
reserved_room_type                                         A
assigned_room_type                                         A
booking_changes                                            1
deposit_type                                      Non Refund
agent                                                   12.0
days_in_waiting_list                                       0
customer_type                                      Transient
adr                                                   5400.0
required_car_parking_spaces                                0
total_of_special_requests                                  0
reservation_status                                  Canceled
reservation_status_date                           2016-02-19
name                                           Daniel Walter
email                             DanielWalter27@comcast.net
phone-number                                    865-280-5832
credit_card                                 ************6075
Name: 48515, dtype: object

In [20]:
# We could combine these two codes together
hotels.iloc[hotels["adr"].idxmax()]

hotel                                             City Hotel
is_canceled                                                1
lead_time                                                 35
arrival_date_year                                       2016
arrival_date_month                                     March
arrival_date_week_number                                  13
arrival_date_day_of_month                                 25
stays_in_weekend_nights                                    0
stays_in_week_nights                                       1
adults                                                     2
children                                                 0.0
babies                                                     0
meal                                                      BB
country                                                  PRT
market_segment                                 Offline TA/TO
distribution_channel                                   TA/TO
is_repeated_guest                                          0
previous_cancellations                                     0
previous_bookings_not_canceled                             0
reserved_room_type                                         A
assigned_room_type                                         A
booking_changes                                            1
deposit_type                                      Non Refund
agent                                                   12.0
days_in_waiting_list                                       0
customer_type                                      Transient
adr                                                   5400.0
required_car_parking_spaces                                0
total_of_special_requests                                  0
reservation_status                                  Canceled
reservation_status_date                           2016-02-19
name                                           Daniel Walter
email                             DanielWalter27@comcast.net
phone-number                                    865-280-5832
credit_card                                 ************6075
Name: 48515, dtype: object

#### 10- The adr is the average daily rate for a person's stay at the hotel. What is the mean adr across all the hotel stays in the dataset?

In [21]:
# Take the mean of the adr
hotels["adr"].mean()

101.83112153446686

In [22]:
# We can round it and show only two decimals
round(hotels["adr"].mean(), 2)

101.83

#### 11- What is the average (mean) number of nights for a stay across the entire data set?

In [23]:
# There are two columns showing stay at nights: weekend and week
round(hotels[["stays_in_weekend_nights", "stays_in_week_nights"]].mean(), 2)

stays_in_weekend_nights    0.93
stays_in_week_nights       2.50
dtype: float64

In [24]:
# We can concat these two columns and take its mean
# If we want to add this column to the dataset we can write it: hotels[...] = 
hotels["stay_nights"] = hotels["stays_in_weekend_nights" ] + hotels["stays_in_week_nights"]
round(hotels["stay_nights"].mean(),2)

# Without using hotels df, we could create just stay_nights df and find the answer

3.43

#### 12- What is the average total cost for a stay in the dataset? Not average daily cost, but total stay cost. (You will need to calculate total cost yourself by using ADR and week day and weeknight stays).

In [25]:
# We will multiply daily rate and total nights (week and weekend nights) stayed
hotels["total_cost"] = hotels["adr"]*hotels["stay_nights"] 
round(hotels["total_cost"].mean(),2)                       # take its mean and round it

357.85

#### 13- What are the names and emails of people who made exactly 5 "Special Requests"?

In [26]:
# Do not forget to write the conditional filtering into hotels[]
hotels[hotels["total_of_special_requests"]==5][["name", "email"]]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

#### 14- What percentage of hotel stays were classified as "repeat guests"? (See the "is_repeated_guest" column).

In [27]:
# First check the value_counts of this column
hotels["is_repeated_guest"].value_counts()

is_repeated_guest
0    115580
1      3810
Name: count, dtype: int64

In [28]:
# So, it consists of zeros and ones
hotels["is_repeated_guest"].unique()

# ones represent repeated guests

array([0, 1], dtype=int64)

In [29]:
# The total number of repeated guests are 3810 
sum(hotels["is_repeated_guest"]==1)

3810

In [30]:
# Its percentage among the total guests
100* sum(hotels["is_repeated_guest"]==1) / len(hotels) # to get the total rows use len()

3.191222045397437

In [31]:
# round it if you want
round(100* sum(hotels["is_repeated_guest"]==1) / len(hotels),2)

3.19

#### 15- What are the top 5 most common last name in the dataset? Bonus: Can you figure this out in one line of pandas code? (For simplicity treat the a title such as MD as a last name, for example Caroline Conley MD can be said to have the last name MD)

In [32]:
# Let's take a look at the "name" column
hotels["name"]

0              Ernest Barnes
1               Andrea Baker
2             Rebecca Parker
3               Laura Murray
4                Linda Hines
                 ...
119385       Claudia Johnson
119386        Wesley Aguilar
119387          Mary Morales
119388    Caroline Conley MD
119389        Ariana Michael
Name: name, Length: 119390, dtype: object

In [33]:
# We can separete the last name using apply and lambda
hotels["name"].apply(lambda name:name.split()[-1])

# split() means split it from the white space.
# Then we grab last item with [-1], which is the last name
# There may be middle names, that's why instead of [1], we should use [-1]

0          Barnes
1           Baker
2          Parker
3          Murray
4           Hines
           ...
119385    Johnson
119386    Aguilar
119387    Morales
119388         MD
119389    Michael
Name: name, Length: 119390, dtype: object

In [34]:
# Since the top 5 most common last name are asked, use value_counts
hotels["name"].apply(lambda name:name.split()[-1]).value_counts()[:5] # the top 5

name
Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: count, dtype: int64

In [35]:
# Alternatively, we could write a custom fumction. Therefore, we can call this function whenever we need
def grab_lastname(name):
    return name.split()[-1]

In [36]:
# Now we can apply this function
hotels["name"].apply(grab_lastname).value_counts()[:5]

name
Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: count, dtype: int64

#### 16- The most common 5 names

In [37]:
hotels['name'].apply(lambda name: name.split()[0]).value_counts()[:5]

name
Michael        2603
David          1882
James          1732
Jennifer       1711
Christopher    1675
Name: count, dtype: int64

#### 17- Grab only Michaels in name column. It could be name, middle name or last name.

In [38]:
# Let's check Michaels in this datafram
# Let's find names containing "Michael"
michael_names = hotels[hotels['name'].str.contains('Michael')]
michael_names

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,stay_nights,total_cost
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,0,0,Canceled,2015-04-22,Michael Moore,MichaelMoore81@outlook.com,316-648-6176,************9190,3,316.5
26,Resort Hotel,0,48,2015,July,27,1,2,5,2,...,0,0,Check-Out,2015-07-08,Michael Davidson,MichaelDavidson82@att.com,336-525-2460,************8662,7,556.5
45,Resort Hotel,1,47,2015,July,27,2,2,5,2,...,0,0,Canceled,2015-06-02,Michael Mccormick,Mccormick.Michael19@aol.com,380-830-9585,************2950,7,1071.0
67,Resort Hotel,0,51,2015,July,27,3,0,2,2,...,0,0,Check-Out,2015-07-05,Michael Whitehead,Michael.W@mail.com,738-618-2202,************8548,2,194.0
78,Resort Hotel,0,72,2015,July,27,3,2,2,2,...,1,0,Check-Out,2015-07-07,Michael Yu,Michael_Yu59@comcast.net,648-953-8540,************2015,4,442.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119247,City Hotel,0,140,2017,August,35,27,2,3,2,...,0,0,Check-Out,2017-09-01,Michael Holder,Michael_H90@mail.com,764-781-5973,************3810,5,1175.0
119249,City Hotel,0,131,2017,August,35,27,2,3,2,...,0,0,Check-Out,2017-09-01,Michael Blankenship,Blankenship.Michael@outlook.com,351-481-7098,************4183,5,445.5
119293,City Hotel,0,243,2017,August,35,30,0,3,2,...,0,3,Check-Out,2017-09-02,Michael Miller,Michael.Miller@comcast.net,235-010-4505,************2107,3,567.0
119374,City Hotel,0,201,2017,August,35,29,1,5,2,...,0,2,Check-Out,2017-09-04,Michael Deleon,Michael_D@att.com,415-740-0604,************2792,6,702.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,9,1360.8

#### 18- Grab only Michaels as the first name.

In [39]:
# Extract first names
hotels['first_name'] = hotels['name'].str.split().str[0]

# Filter names containing "Michael"
michael_first_names = hotels[hotels['first_name'].str.contains('Michael')]

michael_first_names['first_name']

9         Michael
26        Michael
45        Michael
67        Michael
78        Michael
           ...
119217    Michael
119247    Michael
119249    Michael
119293    Michael
119374    Michael
Name: first_name, Length: 2625, dtype: object

In [40]:
# So there are 2625 names beginning Michael
len(michael_first_names)

2625

#### 19- What are the names of the people who had booked the most number of children and babies for their stay? (If they canceled, only consider number of people reported at the time of their reservation).

In [41]:
# We cam find the total number of children (babies and children) and assign it to a new column
# Then we can sort this new column
hotels["total_kids"] = hotels["babies"] + hotels["children"]

In [42]:
# Sort this new column with "name" column
hotels.sort_values("total_kids", ascending=False)["name"]

328           Jamie Ramirez
46619       Nicholas Parker
78656         Marc Robinson
19718     Mr. Jeffrey Cross
107837        Albert French
                ...
119389       Ariana Michael
40600          Craig Campos
40667          David Murphy
40679          Frank Burton
41160         Jerry Roberts
Name: name, Length: 119390, dtype: object

In [43]:
# We can also display it with total kids column as a data frame
hotels.sort_values("total_kids", ascending=False)[["name", "total_kids"]]

                     name  total_kids
328         Jamie Ramirez        10.0
46619     Nicholas Parker        10.0
78656       Marc Robinson         9.0
19718   Mr. Jeffrey Cross         3.0
107837      Albert French         3.0
...                   ...         ...
119389     Ariana Michael         0.0
40600        Craig Campos         NaN
40667        David Murphy         NaN
40679        Frank Burton         NaN
41160       Jerry Roberts         NaN

[119390 rows x 2 columns]

In [44]:
# Let's see the first three names who booked the highest number of children for stay
hotels.sort_values('total_kids',ascending=False)[['name','adults','total_kids','babies','children']][:3]

                  name  adults  total_kids  babies  children
328      Jamie Ramirez       2        10.0       0      10.0
46619  Nicholas Parker       2        10.0      10       0.0
78656    Marc Robinson       1         9.0       9       0.0

#### 20- What are the top 3 most common area code in the phone numbers? (Area code is first 3 digits)

In [45]:
# We have "phone-number" column. We need to grab the firs 3 digits. First see hot it looks like.
hotels["phone-number"]

0         669-792-1661
1         858-637-6955
2         652-885-2745
3         364-656-8427
4         713-226-5883
              ...
119385    403-092-5582
119386    238-763-0612
119387    395-518-4100
119388    531-528-1017
119389    422-804-6403
Name: phone-number, Length: 119390, dtype: object

In [46]:
# We can grab the first 3 digits( frst group before the "-" sign)
hotels["phone-number"].apply(lambda phone:phone.split("-")[0])

0         669
1         858
2         652
3         364
4         713
         ...
119385    403
119386    238
119387    395
119388    531
119389    422
Name: phone-number, Length: 119390, dtype: object

In [47]:
# use value counts to see the top 3 most common area code
hotels["phone-number"].apply(lambda phone:phone.split("-")[0]).value_counts()[:3]

phone-number
799    168
185    167
541    166
Name: count, dtype: int64

In [48]:
# Let's write it in another way
print('Code - Total Count')
hotels['phone-number'].apply(lambda num:num[:3]).value_counts()[:3]

Code - Total Count

phone-number
799    168
185    167
541    166
Name: count, dtype: int64

So, "799", "185" and "541" are the most common three area codes.

#### 21- How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ? Bonus: Can you do this in one line of pandas code?

In [49]:
# First, let's take a look at the column
hotels["arrival_date_day_of_month"]

0          1
1          1
2          1
3          1
4          1
          ..
119385    30
119386    31
119387    31
119388    31
119389    29
Name: arrival_date_day_of_month, Length: 119390, dtype: int64

In [50]:
# We can apply method with lambda 
# range can help us to grab 15 days
# Finally, we can use sum to see the total numbers
hotels["arrival_date_day_of_month"].apply(lambda day:day in range(1,16)).sum()

58152

#### 22- Create a table for counts for each day of the week that people arrived. (E.g. 5000 arrivals were on a Monday, 3000 were on a Tuesday, etc..)

In [51]:
# Let's see the related date columns
hotels[["arrival_date_day_of_month", "arrival_date_month", "arrival_date_year"]]

        arrival_date_day_of_month arrival_date_month  arrival_date_year
0                               1               July               2015
1                               1               July               2015
2                               1               July               2015
3                               1               July               2015
4                               1               July               2015
...                           ...                ...                ...
119385                         30             August               2017
119386                         31             August               2017
119387                         31             August               2017
119388                         31             August               2017
119389                         29             August               2017

[119390 rows x 3 columns]

In [52]:
# Since there is no datetime column, We need to convert related columns
# We will combine date related columns
# Let's create a function for day, month and year

def convert(day, month, year):
    return f"{day}-{month}-{year}"

In [53]:
# Use this function with "np.vectorize"
hotels["date"] =np.vectorize(convert)(hotels["arrival_date_day_of_month"],
                                     hotels["arrival_date_month"],
                                     hotels["arrival_date_year"])

In [54]:
# Let's see date column
hotels["date"]

0            1-July-2015
1            1-July-2015
2            1-July-2015
3            1-July-2015
4            1-July-2015
               ...
119385    30-August-2017
119386    31-August-2017
119387    31-August-2017
119388    31-August-2017
119389    29-August-2017
Name: date, Length: 119390, dtype: object

In [55]:
# Now we can convert it to datetime
hotels["date"] = pd.to_datetime(hotels["date"])

In [56]:
hotels["date"]

0        2015-07-01
1        2015-07-01
2        2015-07-01
3        2015-07-01
4        2015-07-01
            ...
119385   2017-08-30
119386   2017-08-31
119387   2017-08-31
119388   2017-08-31
119389   2017-08-29
Name: date, Length: 119390, dtype: datetime64[ns]

In [57]:
# Now we can use "dt" with day_name() method to see the day names
hotels["date"].dt.day_name()

0         Wednesday
1         Wednesday
2         Wednesday
3         Wednesday
4         Wednesday
            ...
119385    Wednesday
119386     Thursday
119387     Thursday
119388     Thursday
119389      Tuesday
Name: date, Length: 119390, dtype: object

In [58]:
# Since its count is asked, we need value_counts
hotels["date"].dt.day_name().value_counts()

date
Friday       19631
Thursday     19254
Monday       18171
Saturday     18055
Wednesday    16139
Sunday       14141
Tuesday      13999
Name: count, dtype: int64